body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.padding-sm {
  padding: 12px;
}

.padding-md {
  padding: 18px;
}

.padding-lg {
  padding: 24px;
}

.margin-b-sm {
  margin-bottom: 12px;
}

.margin-b-md {
  margin-bottom: 18px;
}

.margin-b-lg {
  margin-bottom: 24px;
}

.page {
  padding: 48px;
}
